#nav-toggle {
  height: 5rem;
  width: 5rem;
  position: fixed;
  z-index: 3;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  background-color: #C38133;
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
}
#nav-toggle:hover {
  transform: translateX(-50%) scale(1.04);
}
#nav-toggle:active {
  transform: translateX(-50%) scale(0.96);
}

#nav-toggle > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: rgb(246, 231, 224);
  font-size: 1.75rem;
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

body:not([data-nav=true]) > #nav-toggle:hover > .open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body:not([data-nav=false]) > #nav-toggle > .close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body:not([data-nav=false]) > #nav-toggle {
  background-color: #3C4CC7;
}

body, main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color: black;
}

main {
  background-image: url(https://media.istockphoto.com/id/926993450/photo/white-texture-background.jpg?s=612x612&w=0&k=20&c=3ZkCRz6B91xHO6QlbMB4svEcwU0rMHp3QlKKKh6c9Ak=);
  height: 100vh;
  background-size: cover;
  background-position: center 0%;
  position: relative;
  z-index: 2;
  transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
}

body[data-nav=true] > main {
  transform: translateY(-55%);
}

.content {
  z-index: 2;
  display: flex;
  padding: auto;
  height: 100vh;
  text-align: center;
  position: relative;
  background-size: cover;
  justify-content: space-between;
  background-position: center 0%;
  transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
}
.content > div {
  flex-direction: initial;
  align-items: center;
  justify-content: space-evenly;
}
.content .contact-body {
  position: -webkit-sticky;
  position: sticky;
  padding-left: 9vw;
  flex-direction: column;
  place-content: center;
  line-height: 1.2;
  font-feature-settings: "ss04", "ss06", "ss07", "ss10", "ss14";
}
.content .contact-body > div {
  width: 100%;
  text-align: left;
}

.work,
.body,
.contact-body {
  display: flex;
  width: 48.8vw;
}

.body {
  background-color: #F2EFE6;
}

.work,
.contact-body {
  background-color: white;
}

.filter {
  width: 2.2rem;
  height: 100vh;
  font-size: 0.4rem;
  text-transform: uppercase;
  background-color: white;
}
.filter h1 {
  margin-top: 22rem;
  transform: rotate(-270deg);
}
.filter h1:hover {
  cursor: pointer;
}

.resume-container {
  display: flex;
}

.resume {
  height: 100vh;
  width: auto;
  background-color: white;
}
.resume:last-child {
  padding-top: 20px;
}

.contactimages,
.contact-body {
  display: flex;
  width: 50vw;
  background-color: white;
}

.contactimages {
  background-color: grey;
}

.cnctcttl {
  margin-bottom: 3.75rem;
  font-size: 36px;
  line-height: 1.6;
  letter-spacing: -0.01em;
}
@media (min-width: 1440px) {
  .cnctcttl {
    font-size: calc(36px + 10.8 * (100vw - 1440px) / 1440);
  }
}

.cntctt {
  font-size: calc(16px + 4.8 * (100vw - 1440px) / 1440);
  margin-bottom: 0.35rem;
  text-transform: uppercase;
}

.cntcttl {
  margin-bottom: 3.75rem;
  font-weight: 400;
}
.cntcttl > h1 {
  font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
  font-feature-settings: "ss04", "ss06", "ss07", "ss10", "ss14";
  font-weight: 400;
  margin: 0;
}
@media (min-width: 1024px) {
  .cntcttl > h1 {
    font-size: 36px;
    line-height: 1.6;
    letter-spacing: -0.01em;
  }
}
.cntcttl > a {
  font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
}
@media (min-width: 1024px) {
  .cntcttl > a {
    font-size: 19px;
    line-height: 1.2;
    letter-spacing: -0.01em;
  }
}
@media (min-width: 1440px) {
  .cntcttl > a {
    font-size: calc(19px + 5.7 * (100vw - 1440px) / 1440);
  }
}
.cntcttl:last-child {
  margin-bottom: 0;
}
.cntcttl > li {
  font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
}

.social-links {
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 1em 3rem;
  flex-wrap: wrap;
  list-style-type: none;
}
.cntcttx {
  font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
}

.fcshvr:hover {
  padding-left: 10px;
  transition-duration: 0.2s;
}

.fcshvrdot {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  border-radius: 100%;
  background-color: var(--color-terracotta);
}

nav {
  height: 50vh;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  overflow-x: auto;
  overscroll-behavior-inline: conatain;
}

#nav-links {
  display: flex;
  gap: clamp(1rem, 2vw, 2rem);
  margin-top: clamp(1rem, 2vw, 3rem);
  padding: 0rem clamp(1rem, 2vw, 2rem);
  transform: translateY(70%) scale(0.9);
  transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
}
#nav-links .nav-link {
  text-decoration: none;
}
#nav-links .nav-link .nav-link-label {
  color: white;
  font-size: 1.25rem;
  margin: 0rem;
  text-transform: uppercase;
}
#nav-links .nav-link .nav-link-image {
  width: max(15vw, 320px);
  aspect-ratio: 1.8/1;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: rgba(230, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

body[data-nav=true] > nav > #nav-links {
  transform: translateY(-10%) scale(1);
}

@font-face {
  font-family: RecklessNeue-Book;
  src: url(/font/RecklessNeue-Book.ttf);
}
* {
  font-family: "Lato", sans-serif;
  color: #1a1a1a;
  box-sizing: border-box;
  margin: 0px;
}
* :after, * :before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100%;
  font-family: NeueHaasGrotesk-Roman, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-feature-settings: "kern" 1, "kern";
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: var(--color-black);
}

blockquote, h1, h2, h3, h4, h5, h6, p {
  white-space: normal;
}

.wrkheader {
  padding-bottom: 6.25rem;
  padding-right: 1.375rem;
  padding-left: 5.263vw;
}
@media (min-width: 768px) {
  .wrkheader {
    padding-left: 3.03vw;
    max-width: 78vw;
  }
}
@media (min-width: 1024px) {
  .wrkheader {
    padding-left: 2vw;
  }
}

.wrkheadertxt {
  font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  text-transform: none;
  letter-spacing: -0.01em;
  font-feature-settings: "ss04", "ss06", "ss07", "ss10", "ss14";
}
@media (min-width: 448px) {
  .wrkheadertxt {
    font-size: calc(40px + 8 * (100vw - 448px) / 448);
  }
}
@media (min-width: 1024px) {
  .wrkheadertxt {
    font-size: 70px;
    line-height: 1.1;
    letter-spacing: -0.01em;
  }
}
@media (min-width: 1440px) {
  .wrkheadertxt {
    font-size: calc(70px + 21 * (100vw - 1440px) / 1440);
  }
}

.header_and_slides {
  background-color: white;
}

.wrksldshowcont {
  position: relative;
  width: 100%;
  height: calc(100vh + 444.711px);
}

.wrksldshow {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrksldcont {
  display: inline-flex;
}

.wrksld {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  gap: 15px;
  padding-left: 5.263vw;
}
@media (min-width: 1024px) {
  .wrksld {
    padding: 30px 2vw 140px;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}/*# sourceMappingURL=styles.css.map */