$color-default: #1a1a1a;
$color-button:#C38133;
$button-blue: #3C4CC7;
$color-main: #F2EFE6;
$color-hover: #58e1c1;
$color-border: #ccc;
$white: #fff;
$slide-in: cubic-bezier(.13, .53, .38, .97);

$mq-sm: 768px;