* {
    font-family: 'Lato', sans-serif;
    color: $color-default;
    box-sizing: border-box;
    margin: 0px;
  }

  p {
    line-height: 1.45em;
  }

  a {
    text-decoration: none;
  }

  .headline-primary {
    color: $color-hover;
    margin-left: 10px;
  }

  .headline-secondary {
    font-weight: 300;
    color: $color-default;
  }

  .link {
    color: $color-main;
    font-weight: 700;
  }

  .blockquote {
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $color-hover;
    border-radius: 5px;
  }

  