@font-face{
  font-family: RecklessNeue-Book;
  src: url(/font/RecklessNeue-Book.ttf);
}

* {
    font-family: 'Lato', sans-serif;
    color: $color-default;
    box-sizing: border-box;
    margin: 0px;

    :after, :before {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
}

body {
  position: relative;
  width: 100%;
  font-family: NeueHaasGrotesk-Roman,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-feature-settings: "kern" 1,"kern";
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: var(--color-black);
}

blockquote, h1, h2, h3, h4, h5, h6, p {
    white-space: normal;
}


.wrkheader {
  padding-bottom: 6.25rem;
  padding-right: 1.375rem;
  padding-left: 5.263vw;
  @media (min-width: 768px) {
    padding-left: 3.03vw;
    max-width: 78vw;
  }
  @media (min-width: 1024px) {
    padding-left: 2vw;
  }
}

.wrkheadertxt {
  font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  text-transform: none;
  letter-spacing: -0.01em;
  font-feature-settings: "ss04", "ss06", "ss07", "ss10", "ss14";
  @media (min-width: 448px) {
  font-size: calc(40px + 8 * ((100vw - 448px) / 448));
  }
  @media (min-width: 1024px) {
  font-size: 70px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  }
  @media (min-width: 1440px) {
      font-size: calc(70px + 21 * ((100vw - 1440px) / 1440));
  }
}

.header_and_slides {
  background-color:white;
}

.wrksldscroll{
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.wrksldshowcont {
  position: relative;
  width: 100%;
  height: calc(100vh + 444.711px);
}

.wrksldshow {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.wrksldcont {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.wrksld {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    gap: 15px;
    padding-left: 5.263vw;
}

.wrkimg {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  box-sizing:border-box;
  padding:0;
  border:none;
  margin:auto;
  display:block;
  width:0;
  height:0;
  min-width:100%;
  max-width:100%;
  min-height:100%;
  max-height:100%;
  object-fit:cover;
  object-position:50% 50%
}