@font-face{
  font-family: RecklessNeue-Book;
  src: url(/fonts/RecklessNeue-Book.ttf);
}

@font-face{
  font-family: NeueHaasGrotesk;
  src: url(/fonts/NeueHaasGrotesk-Roman.ttf)
}

* {
    font-family: 'Lato', sans-serif;
    color: $color-default;
    box-sizing: border-box;
    margin: 0px;

    :after, :before {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
}

body {
  position: relative;
  width: 100%;
  font-family: NeueHaasGrotesk-Roman,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-feature-settings: "kern" 1,"kern";
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: var(--color-black);
}

blockquote, h1, h2, h3, h4, h5, h6, p {
    white-space: normal;
}


.wrkheader {
  padding-top: 3.1rem;
  padding-bottom: 2rem;
  padding-right: 1.375rem;
  padding-left: 5.263vw;
  
  @media (min-width: 768px) {
    padding-left: 3.03vw;
    max-width: 78vw;
  }
  @media (min-width: 1024px) {
    padding-left: 2vw;
  }
}

.wrkheadertxt {
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  text-transform: none;
  letter-spacing: -0.01em;
  font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
  font-feature-settings: "ss04", "ss06", "ss07", "ss10", "ss14";
  @media (min-width: 375px) {
    font-size: 31px;
  }
  @media (min-width: 425px) {
    font-size:36px;
  }
  @media (min-width: 768px) {
    font-size: 44px;
  }
  @media (min-width: 561px) {
    font-size:41px;
  }
  @media (min-width: 644px) {
    font-size:50px;
  }
  @media (min-width: 871px) {
    font-size:51px;
  }
  @media (min-width: 1024px) {
  line-height: 1.1;
  letter-spacing: -0.01em;
  }
  @media (min-width: 1440px) {
      font-size: calc(70px + 21 * ((20vw - 1440px) / 1440));
  }
}

.header_and_slides {
  background-color:white;
}

.wrksldscroll{
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.wrksldshowcont {
  position: relative;
  width: 100%;
  height: calc(100vh + 444.711px);
}

.wrksldshow {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.wrksldcont {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.wrksld {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    gap: 15px;
    padding-left: 5.263vw;
}

.wrkimg {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  box-sizing:border-box;
  padding:0;
  border:none;
  margin:auto;
  display:block;
  width:0;
  height:0;
  min-width:100%;
  max-width:100%;
  min-height:100%;
  max-height:100%;
  object-fit:cover;
  object-position:50% 50%
}

/*============================*/
/*===== Work Page Styles =====*/
/*============================*/

.deployed-projects{
  background-color: $color-main;
  height:30rem;
  display:flex;
  cursor: grab;
  overflow: auto;
  // overflow-x: scroll;
  flex-direction: row;
}

.image-cont {
  padding: 1rem;
  width: 23rem;
  height:25rem;
  
  img {
    height: 13.8rem;
    width: 21rem;
      &:hover{
        opacity:50%;
        transition-duration: .5s;
        cursor: pointer;
      }
  }
  h2 {
    font-size: 1.75rem;
    text-align: center;
    font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
  }
  p {
    color: $color-default;
    text-align: center;
    padding: 0.5rem;
    height: 7rem;
  }
  .buttons {
    a button {
        cursor: pointer;
        font-size: 1.2rem;
        margin-left: 1rem;
        // margin-right: 2rem;
        background-color: white;
        border-radius: 8px;
        height: 3rem;
        width: 9rem;
        margin-top:.5rem;
        padding: 0;
        border: none;
        text-decoration: none;
    }

    .github-link button {
      background-color:#6e5494;
      color: white;
      padding: 0;
      border: none;
    }
  } 
}