#nav-toggle{
  height: 5rem;
  width: 5rem;
  position: fixed;
  z-index: 3;
  left:50%;
  bottom: 3rem;
  transform: translateX(-50%);
  background-color: $color-button;
  border:none;
  border-radius:5rem;
  outline:none;
  box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 35%);
  cursor:pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
&:hover{
    transform: translateX(-50%) scale(1.04);
  }
&:active{
    transform:translateX(-50%) scale(0.96);
  }
}