body, main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color:black;
}

main{
  background-image: url(/images/background.jpeg);
  background-size: cover;
  background-position: center 0%;
  position: relative;
  z-index: 2;
}