body, main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color:black;
}

main{
  background-image: url(https://media.istockphoto.com/id/926993450/photo/white-texture-background.jpg?s=612x612&w=0&k=20&c=3ZkCRz6B91xHO6QlbMB4svEcwU0rMHp3QlKKKh6c9Ak=);
  height: 100vh;
  background-size: cover;
  background-position: center 0%;
  position: relative;
  z-index: 2;
  transition: transform 500ms $slide-in;
}

body[data-nav="true"] > main{
  transform: translateY(-55%);
}
.content{
  z-index: 2;
  display:flex;
  padding:auto;
  height: 100vh;
  text-align:center;
  position: relative;
  background-size:cover;
  justify-content:space-between;
  background-position: center 0%;
  transition: transform 500ms $slide-in;
  > div {
    flex-direction: initial;
    align-items:center;
    justify-content: space-evenly;
  }
  .contact-body{
    position:sticky;
    padding-left: 9vw;
    flex-direction: column;
    place-content: center;
    line-height: 1.2;
    font-feature-settings: "ss04", "ss06", "ss07", "ss10", "ss14";
    > div{
    width:100%;
    text-align: left;
    }
  }
}

.work,
.body,
.contact-body {
  display:flex;
  width: 48.8vw ;
}

.body{
  background-color: $color-main;
}


.work,
.contact-body {
  background-color: white;
}

.filter{
  width: 2.2rem;
  height: 100vh;
  font-size: .4rem;
  text-transform: uppercase;
  background-color: white;
  h1{
    margin-top: 22rem;
    transform: rotate(-270deg);
    &:hover{
      cursor: pointer;
    }
  }
}

.resume-container{
  display:flex;
}

.resume{
  height:100vh;
  width: auto;
  background-color: white;
 &:last-child{
  padding-top: 20px;
 }
}

.contactimages,
.contact-body{
  display:flex;
  width: 50vw;
  background-color:white;
}
.contactimages{
  background-color:grey;
}

.cnctcttl{
  margin-bottom:3.75rem;
  font-size: 36px;
  line-height: 1.6;
  letter-spacing: -0.01em;
  @media (min-width: 1440px){ 
    font-size: calc(36px + 10.8 * ((100vw - 1440px) / 1440));
  }
}
.cntctt{
  font-size: calc(16px + 4.8 * ((100vw - 1440px) / 1440));
  margin-bottom: 0.35rem;
  text-transform: uppercase;
}

.cntcttl{
  margin-bottom: 3.75rem;
  font-weight: 400;
  > h1{
    font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
    font-feature-settings: "ss04", "ss06", "ss07", "ss10", "ss14";
    font-weight: 400;
    margin: 0;

    @media (min-width: 1024px) {
    font-size: 36px;
    line-height: 1.6;
    letter-spacing: -0.01em;
  }
}

  > a {
    font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
    text-decoration: none;

    @media (min-width: 1024px) {
    font-size: 19px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    }
    @media (min-width: 1440px) {
    font-size: calc(19px + 5.7 * ((100vw - 1440px) / 1440));
    }
  }

  &:last-child{
    margin-bottom: 0;
  }
  >li{
    font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
  }
}

.social-links{
  margin: 0px;
  padding:0px;
  display: flex;
  gap: 1em 3rem;
  flex-wrap: wrap;
  list-style-type: none;
  > li {
    // flex-basis: 17%;
  }
}

.cntcttx{
  font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
}


.fcshvr:hover{
    padding-left: 10px;
    transition-duration: 0.2s;
}

  .fcshvrdot {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  border-radius: 100%;
  background-color: var(--color-terracotta);
}