body, main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color:black;
}

main{
  background-color: white;
  height: 100vh;
  background-size: cover;
  background-position: center 0%;
  position: relative;
  z-index: 2;
  transition: transform 500ms $slide-in;
}

body[data-nav="true"] > main{
  transform: translateY(-55%);
}
.content{
  z-index: 2;
  display:flex;
  padding:auto;
  height: 100vh;
  text-align:center;
  position: relative;
  background-size:cover;
  justify-content:space-between;
  background-position: center 0%;
  transition: transform 500ms $slide-in;
  @media (max-width: 768px){
    flex-direction:column;
  }
  > div {
    flex-direction: initial;
    align-items:center;
    justify-content: space-evenly;
    width: 100%;
  }
  .contact-body{
    position:sticky;
    padding-left: 9vw;
    flex-direction: column;
    place-content: center;
    line-height: 1.2;
    font-feature-settings: "ss04", "ss06", "ss07", "ss10", "ss14";
    @media (max-width: 768px){
      width: 100vw;
      padding: 7vh 9vw;
    }
    @media (min-width: 1024px){
      padding: 0 0 0 9vw;
    }
    > div{
    width:100%;
    text-align: left;
    }
  }
}

.work,
.body,
.contact-body {
  display:flex;
  width: 50vw ;
}

.filter{
  width: 2.2rem;
  height: 100vh;
  font-size: .4rem;
  text-transform: uppercase;
  background-color: white;
  h1{
  
    margin-top: 22rem;
    transform: rotate(-270deg);
    &:hover{
      cursor: pointer;
    }
  }
  @media (max-width: 1023px){ 
  display:none;
  }
}

.bannercont{
  position: absolute;
  text-align: right;
  top: 1.25rem;
  right: 5.263vw;
  letter-spacing: -.3px;
  @media (min-width: 768px) {
    top: 1.563rem;
    right: 3.03vw;
  }
  @media (min-width: 1024px) {
    top: 1.875rem;
    right: 2vw;
  }
}

.bannername{
  font-family: NeueHaasGrotesk-Medium, Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-transform: none;
  @media (min-width: 448px) {
    font-size: calc(11px + 2.2 * ((100vw - 448px) / 448));
  }
  @media (min-width: 1024px) {
    font-size: 14px;
    line-height: 1.2;
  }
  @media (min-width: 1440px) {
    font-size: calc(14px + 4.2 * ((100vw - 1440px) / 1440));
  }
}

.bannerdesc{
  font-family: NeueHaasGrotesk-Roman, Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  text-transform: none;
  @media (min-width: 448px) {
    font-size: calc(11px + 2.2 * ((100vw - 448px) / 448));
}
  @media (min-width: 1024px) {
      font-size: 14px;
      line-height: 1.2;
  }
}

.home-body {
  padding: 16vh 5.263vw 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  @media (min-width: 768px) {
    padding: 15.151vw 7.575vw 5.75rem 3.03vw;
  }
  @media (min-width: 1024px) {
      height: 100%;
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding: 24.5vh 5vw 3.75rem 4vw;
  }
}

.home-content-slogan {
    font-family: NeueHaasGrotesk-Roman, Helvetica, Arial, sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.85;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    position: relative;
    font-size: 17.85vw;
    @media (min-width: 448px) {
      font-size: calc(70px + 14 * ((100vw - 448px) / 448));
  }
  @media (min-width: 1024px) {
    line-height: 0.85;
    letter-spacing: -0.04em;
  }
}

.slogan-container {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  height: 5.5ch;
}

.slogan-line-tab {
  margin-left: 1ch;
}

.slogan-line {
    overflow: hidden;
    
}
.contact-body{
  -webkit-animation: 2s ease-in 0s 1 fadeIn;
  animation: 2s ease-in 0s 1 fadeIn;
}

@keyframes fadeIn {
  0% {
    transform: opacity(0);
  }
  100% {
    transform: opacity(1);
  }
}

.body{
  background-color: $color-main;
}


.work,
.contact-body {
  background-color: white;
}

.resume{
  height:100vh;
  width: auto;
  background-color: white;
 &:last-child{
  padding-top: 20px;
 }
}

.contactimages,
.contact-body{
  display:flex;
  width: 50vw;
  background-color: white;
}

.cnctcttl{
  margin-bottom:3.75rem;
  font-size: 36px;
  line-height: 1.6;
  letter-spacing: -0.01em;
  @media (min-width: 1440px){ 
    font-size: calc(36px + 10.8 * ((100vw - 1440px) / 1440));
  }
}
.cntctt{
  font-size: calc(16px + 4.8 * ((100vw - 1440px) / 1440));
  margin-bottom: 0.35rem;
  text-transform: uppercase;
}

.cntcttl{
  margin-bottom: 3.75rem;
  font-weight: 400;
  > h1{
    font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
    font-feature-settings: "ss04", "ss06", "ss07", "ss10", "ss14";
    font-weight: 400;
    margin: 0;

    @media (min-width: 1024px) {
    font-size: 36px;
    line-height: 1.6;
    letter-spacing: -0.01em;
  }
}

  > a {
    font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
    text-decoration: none;

    @media (min-width: 1024px) {
    font-size: 19px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    }
    @media (min-width: 1440px) {
    font-size: calc(19px + 5.7 * ((100vw - 1440px) / 1440));
    }
  }

  &:last-child{
    margin-bottom: 0;
  }
  >li{
    font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
  }
}

.social-links{
  margin: 0px;
  padding:0px;
  display: flex;
  gap: 1em 3rem;
  flex-wrap: wrap;
  list-style-type: none;
}

.cntcttx{
  font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
  > a{
  color: #1a1a1a;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: transform 250ms;
  font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;

  &::before {
    content: "\2022";
    font-size: 1.8rem;
    color: $color-button;
    position: absolute;
    opacity: 0;
    transform: translateY(-0.625rem);
    transition: opacity 250ms, transform 250ms;
  }
  
  &:hover {
    transform: translateX(.9rem);
  }
  
  &:hover::before {
    opacity: 1;
    transform: translate(-1rem, -0.625rem);
  }
  }
}


.fcshvr{
    color: #1a1a1a;
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: transform 250ms;
    font-family: RecklessNeue-Book, Helvetica, Arial, sans-serif;
  
    &::before {
      content: "\2022";
      font-size: 1.8rem;
      color: $color-button;
      position: absolute;
      padding-top:2px;
      opacity: 0;
      transform: translateY(-0.625rem);
      transition: opacity 250ms, transform 250ms;
    }
    
    &:hover {
      transform: translateX(.9rem);
    }
    
    &:hover::before {
      opacity: 1;
      transform: translate(-1rem, -0.625rem);
    }
}

.contact-image-side{
  width: 50vw;
  display:grid;
}

.contactimage{
  width:100%;
  height:100%;
  object-fit:cover;
  overflow:hidden;
  @media (min-width: 769px){scale: 1;}
  
}

//*Resume Styliing*//
.resume-container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  // grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Name-Plate Name-Plate"
    "location_contact location_contact"
    "Resume-Experience Resume-Experience"
    "Resume-Experience Resume-Experience"
    "Resume-Small Resume-Small"; 
    font-family: NeueHaasGrotesk-Medium, Helvetica, Arial, sans-serif;
  
    .name, .name-desc{
      &:hover{
        transition: transform 1s;
        transform: translateX(1rem);
        transition-duration: 1s;
      }
    }

  @media (min-width:768px){
    grid-template-areas: 
    "Name-Plate Name-Plate Name-Plate location_contact"
    "Resume-Experience Resume-Experience Resume-Experience Resume-Small"
    "Resume-Experience Resume-Experience Resume-Experience Resume-Small"
    "Resume-Experience Resume-Experience Resume-Experience Resume-Small"
    "Resume-Experience Resume-Experience Resume-Experience Resume-Small"
    "Resume-Experience Resume-Experience Resume-Experience Resume-Small"
    "Resume-Experience Resume-Experience Resume-Experience Resume-Small"
    "Resume-Experience Resume-Experience Resume-Experience Resume-Small"
    "Resume-Experience Resume-Experience Resume-Experience Resume-Small"; 
  }
}


.Name-Plate {
  grid-area: Name-Plate;
  text-align: center;
  max-height: 10rem;
  h1{
    padding: 2rem 0 .25rem 0;
    margin:0;
  }
  @media(max-width:767px){
    width:100vw;
  }
  @media (min-width:768px){
    width: auto;
    text-align: left;
    h1{
      padding: 2rem 0 .25rem 3rem;
    }
    p{
      padding: .25rem 0 2rem 3rem;
    }
  }
  @media (min-width: 1024px){

  }
}

.location_contact {
  grid-area: location_contact;
  padding: 1.4em 0rem 1rem 0rem;
  text-align: center;
  @media (min-width: 768px){
    text-align:left;
    padding: 2rem 1rem 2rem 1rem;
  }
  @media (min-width: 1440px){
    padding: 2rem 3rem 2rem 3rem;
  }
}

.Resume-Experience {
  grid-area: Resume-Experience;

  padding: 0rem 1rem 0rem 3rem;
  .timeframe{
    padding-top:.1rem;
    font-size:.8em;
    color:#666666;
  }
}

.titles{
  text-transform:capitalize;
  font-size: 1rem;
  
  color: rgb(33,121,199);
  @media (min-width: 1440px){
    font-size: 1.2rem;
  }
  @media (min-width: 1920px){
    font-size: 1.5rem;
  }
}
.location {
  text-decoration: none;
  &::before {
    content: "\2022";
    font-size: 2.1rem;
    font-weight:300;
    color: $color-button;
    position: absolute;
    opacity: 0;
    transform: translateY(-0.625rem);
    transition: opacity 250ms, transform 250ms;
  }
  
  &:hover {
    transform: translateX(.9rem);
    transition: transform 250ms;
  }
  
  &:hover::before {
    opacity: 1;
    transform: translate(-1rem, -0.625rem);
  }
  > a {
    text-decoration: none;
  }

  @media(min-width: 1920px){
    font-size: 1.2rem;
    &:hover::before {
      opacity: 1;
      transform: translate(-1rem, -0.525rem);
    }
  }
}
.experience_li{
  padding-top: 10px;
  padding-bottom: 10px;
  li{
    color: #666666;
    line-height: 1.1rem;
    font-size: .9rem;

    @media (min-width: 1440px){
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
    @media (min-width: 1920px){
      font-size: 1.3em;
      line-height: 2.09rem;
    }
  }
}

.education, .target{
  display:none;
  @media (min-width: 768px){
    display: inherit;
  }
}

.target{
  @media (min-width: 500px){
    display:inherit;
  }
}

.goals{
  color: #666666;
  word-wrap: break-word;
  word-break:keep-all;
  max-width: 15rem;
  margin: 0px;
  @media (min-width: 1440px){
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  @media (min-width: 1920px){
    font-size: 1.3rem;
    line-height: 2.09rem;
  }
  }

.Resume-Small {
  padding: 0rem 1rem 0rem 1rem;
  grid-area: Resume-Small;
  display:none;
  @media (min-width: 768px){
    display:block;
  }
  @media (min-width: 1440px){
    padding: 0rem 1rem 0rem 
    3rem;
  }
}

.resume-link{
  text-align: center;
  justify-content: center;
  font-family: NeueHaasGrotesk-Medium, Helvetica, Arial, sans-serif;
  font-size: .5rem;
  padding: .4rem 0 0 0;

  a{
    text-decoration: none;
    font-weight: 800;

    &:after {
      content: '';
      padding: 0 0 0 1rem;
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #0087ca;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  @media (min-width: 500px) {
    padding: .5rem 0;
  }
  @media (min-width: 1024px) {
    font-size: .7rem;
    color: #0087ca;
    position: fixed;
    margin: .5rem 0rem 0rem 1.6rem;
  }
  @media (min-width: 1440px) {
    padding: 0px;
    font-size: 1rem;
    margin: .5rem 0rem 0rem 1.6rem;
  }
  @media (min-width: 1920px) {
    font-size: 1rem;
    text-align: left;
    justify-content: left;
    margin: 1rem 0rem 0rem 1.6rem;
  }
}

.work{
  @media (max-width:769px){
    padding-top: 5rem;
  }
}

//SLIDESHOW
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  .one{
    display: block;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
  //media queries for slideshow
    @media (max-width: 600px){
      &.fade {
        height: 18em;
        overflow: hidden;
      } 
    }
    @media (min-width: 768px){
      &.fade {
        height: 34em;
        overflow: hidden;
      } 
    }
  }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.work-btn{
  color: white;
  text-decoration: none;
  background-color: #7577bf;
  font-weight: 600;
  padding: .5em 1.5em;
  border-radius: 1em;
  margin-bottom: 100px;
}

.work-desc-text{
  font-size: 1.1em;
  color: #f2f2f2;
  margin: 2em 10em;
  @media (max-width:650px){
    margin: 1em 1em;
  }
  @media (max-width:769px){
    // padding-top: 5rem;
  }
}

.work-img{
  filter: drop-shadow(0 -0.25em 2.25em rgba(0, 0, 0, 0.05));
}
