nav {
  height: 50vh;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  overflow-x:auto;
  overscroll-behavior-inline: conatain;
}

#nav-links{
  display: flex;
  gap: clamp(1rem, 2vw,2rem);
  margin-top: clamp(1rem, 2vw, 3rem);
  padding: 0rem clamp(1rem,2vw,2rem);
  transform: translateY(70%) scale(0.9);
  transition: transform 500ms $slide-in;
  overflow: auto;
  // &::-webkit-scrollbar{
  //   display: none;
  // }
  .nav-link {
    text-decoration: none;
    &:hover {
      .nav-link-label {
        transition: transform 250ms;
        transform: translate(1rem, 0rem);
      }
      // .nav-link-image{
      //   transition: transform 250ms;
      //   transform:  scale(.9);
      // }
    }
    &::before {
      content: "\2022";
      font-size: 4rem;
      color: $color-button;
      position: absolute;
      top:-15px;
      opacity: 0;
      transform: translateY(-0.625rem);
      transition: opacity 250ms, transform 250ms;
    }
    
    &:hover::before {
      opacity: 1;
      transform: translate(-.5rem, -0.625rem);
    }

    .nav-link-label {
      color:white;
      font-size: 1.25rem;
      margin: 0rem;
      text-transform: uppercase;
    }

    .nav-link-image {
      width: max(15vw, 320px);
      aspect-ratio: 1.8/1;
      border-radius: 0.5rem;
      margin-top: 0.75rem;
      object-fit:cover;
      box-shadow: rgba(230, 0, 0, 0.35) 0px -50px 36px -28px inset;
    }
  }

  @media (max-width: 1024px){
    margin-top: clamp(1.1rem, 2vw, 3rem);
  }
}

body[data-nav="true"] > nav > #nav-links{
  transform: translateY(-10%) scale(1);
}

